ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	padding: 0;
}
a:hover{
	text-decoration: none;
}
img,.side-bar .list-group-item,.side-bar-card.flag,.side-bar-card{
	border-radius: 3px;
}

img{
	max-width: 100%;
	display: block;
}
.navbar-brand img{
	height: 20px;
}
.side-bar .list-group-item{
	border: 0;
	margin-bottom: 5px;
}
.side-bar .list-group-item.active{
	background-color: #ee4c4c;
}
.news-list a.title{
	display: block;
	color: #444;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}
.news-list a.title:hover{
	color: #337ab7;
}
.news-list .info{
	color: #888;
}
.news-list .info .avatar{
	display: inline-block;
}
.news-list .info .avatar img{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: top;
}
.news-list-item{
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}
.news-list-item:first-child{
	padding-top: 0;
}
.side-bar-card{
	background: rgba(0,0,0,.05);
	margin: 15px 0 0 0;
	padding: 10px 0;
}
.side-bar-card.flag{
	padding: 20px 0;
}
.side-bar-card .text-lg{
	font-size: 150%;
}
.side-bar-card .card-title{
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
}
.side-bar-card .title{
	padding: 15px;
}
.side-bar-card ul p{
	padding: 0 15px;
	margin: 0;
	color: #999;
}
.side-bar-card ul li{
	padding: 10px 0;
}
.side-bar-card ul li:hover{
	background: rgba(0,0,0,0.2);
}
