img{
	max-width: 100%;
	display: block;
	border-radius: 3px;
}
.navbar-brand img{
	height: 20px;
}
.side-bar .list-group-item{
	border: 0;
	border-radius: 3px;
	margin-bottom: 5px;
}
.side-bar .list-group-item.active{
	background-color: #ee4c4c;
}
.news-list p.title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}
.news-list .info{
	color: #666;
}
