.news-title{
	line-height: 1.3;
}
.news-status{
	margin-top: 20px;
	color: #999;
}
.news-status .label{
	opacity: .8;
}
.news-content{
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.5;
}
.news-content img{
	margin: 0 auto;
	vertical-align: middle;
}
.no-padding-h{
	padding-left: 0;
	padding-right: 0;
}
.side-bar-card .card-body li{
	padding: 10px 10px;
	vertical-align: middle;
}
.side-bar-card img{
	display: block;
	vertical-align: middle;
	margin: auto 0;
}

